---
// Locale
import nl from "@lib/copy/nl.js";

// Layouts
import AppLayout from "@layouts/AppLayout.astro";

// Components
import DayActions from "@components/today/DayActions.astro";
import ItemCombobox from "@components/today/ItemCombobox.astro";
import MacroBars from "@components/today/MacroBars.astro";
import PortionInput from "@components/today/PortionInput.astro";
import TodayLogList from "@components/today/TodayLogList.astro";
import QuickAddForm from "@components/forms/QuickAddForm.astro";
---

<AppLayout title={nl.pages.today}>
  <main class="p-4" x-data="todayPage()">
    <h1 class="mb-4 text-lg font-semibold text-slate-100 text-center">
      {nl.pages.today}
    </h1>
    <MacroBars />
    <section class="mt-6 space-y-4">
      <ItemCombobox />
      <PortionInput />
      <DayActions />
    </section>
  </main>

  <div slot="modal" class="flex h-full min-h-0 flex-col overflow-hidden">
    <template x-if="$store.modalStore.activeForm === 'consumption'">
      <div
        x-show="$store.modalStore.activeForm === 'consumption'"
        x-data="todayPage()"
        class="h-full min-h-0 overflow-hidden"
      >
        <TodayLogList />
      </div>
    </template>
    <template x-if="$store.modalStore.activeForm === 'quickAdd'">
      <div class="flex h-full min-h-0 flex-col overflow-hidden">
        <QuickAddForm />
      </div>
    </template>
  </div>
</AppLayout>
