---
// Locale
import nl from "@lib/copy/nl.js";

// Layouts
import AppLayout from "@layouts/AppLayout.astro";

// Components
import PreferencesForm from "@components/forms/PreferencesForm.astro";
---

<AppLayout title={nl.pages.settings}>
  <main class="p-4 min-h-0 flex-1" x-data="settingsPage()">
    <h1 class="text-lg font-semibold text-slate-100 text-center">
      {nl.pages.settings}
    </h1>
    <PreferencesForm />
  </main>
</AppLayout>
