---
// Layouts
import BaseLayout from "@layouts/BaseLayout.astro";

// Components
import Toast from "@ui/Toast.astro";

// Interface
interface Props {
  title?: string;
}

// Props
const { title }: Props = Astro.props;
---

<BaseLayout title={title}>
  <Toast />
  <div
    class="mx-auto flex-1 w-full max-w-lg pb-[calc(var(--spacing-nav-height)+var(--spacing-safe-bottom))]"
  >
    <slot />
  </div>
</BaseLayout>
