---
import BaseLayout from './BaseLayout.astro';
import Toast from '../components/ui/Toast.astro';

/** @typedef {{ title?: string }} Props */

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <Toast />
  <div class="mx-auto flex min-h-dvh max-w-lg flex-col">
    <slot />
  </div>
</BaseLayout>
