---
// Locale
import nl from "@lib/copy/nl.js";

// Components
import Button from "@ui/Button.astro";
---

<div class="mt-4 flex flex-col gap-2">
  <Button
    text={`'${nl.buttons.add}'`}
    click="$store.appStore.addConsumptionEntry()"
    :disabled="!canAddConsumption"
  />
  <Button
    text={`'${nl.buttons.quickAddItem}'`}
    variant="ghost"
    click="openQuickAdd()"
  />
  <Button
    text={`'${nl.buttons.todayLog}'`}
    variant="ghost"
    click="openTodayLog()"
  />
</div>
