---
import nl from "../../lib/copy/nl.js";
import Skeleton from "@ui/Skeleton.astro";
import TodayLogRow from "./TodayLogRow.astro";

const emptyLabel = `'${nl.empty.todayLog}'`;
---

<div class="flex h-full min-h-0 flex-col overflow-hidden">
  <div x-show="!$store.appStore.hydrated" class="divide-y divide-slate-800">
    {
      Array.from({ length: 3 }).map(() => (
        <div class="flex items-center justify-between gap-3 py-3">
          <div class="min-w-0 flex-1 space-y-1">
            <Skeleton class="h-4 w-32" />
            <Skeleton class="h-3 w-20" />
          </div>
          <Skeleton class="h-4 w-16 shrink-0" />
        </div>
      ))
    }
  </div>
  <div
    x-show="$store.appStore.hydrated"
    x-cloak
    class="flex min-h-0 flex-1 flex-col overflow-hidden"
  >
    <ul
      x-show="todayLogRows.length > 0"
      class="min-h-0 flex-1 divide-y divide-slate-800 overflow-y-auto overscroll-contain pr-4"
    >
      <template x-for="(entry, index) in todayLogRows" :key="entry.index">
        <TodayLogRow
          name="entry.rowName"
          portion="entry.portionText"
          calories="entry.caloriesText"
          removeClick="$store.appStore.askRemoveConsumption(entry.index)"
        />
      </template>
    </ul>
    <p
      x-show="todayLogRows.length === 0"
      x-cloak
      class="py-4 text-center text-sm text-slate-500"
      x-text={emptyLabel}
    >
    </p>
  </div>
</div>
