---
// Locale
import nl from "@lib/copy/nl.js";

// Components
import Button from "@ui/Button.astro";
import Input from "@ui/Input.astro";
---

<form class="space-y-4 w-full" @submit.prevent="submit">
  <Input label={nl.auth.password} model="password" type="'password'" />
  <p class="text-sm text-danger" x-show="error" x-cloak x-text="error"></p>
  <Button
    text={nl.buttons.login}
    click="submit"
    type="submit"
    :disabled="isSubmitting"
  />
</form>
