---
// Interface
interface Props {
  class?: string;
}

// Props
const { class: className = "" }: Props = Astro.props;
---

<div class={`animate-pulse rounded bg-slate-800 ${className ? className : ""}`}>
</div>
